
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table table-bordered" >
<h3>Mvc Kamp Tablo Örneği</h3>
<table>
    <tr>
        <td>1</td>
        <td>Kategori Id</td>
        <td>Kategori Id</td>
        <td>Kategori Id</td>
    </tr>
</table>
    <button class="btn btn-info">Yeni Kategori</button>
    <button class="btn btn-info">Yeni Kategori</button>


