
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_writerLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p><del>#2 Tüm Başlıklarda Paging</del></p>
<p><del>#3 Mesajlarda Session</del></p>
<p><del>#4 Oturum Yönetiminin Mimariye Taşınması</del> </p>
https://github.com/kadirdemirel/MVCProjeKampi/blob/master/MVCProjeKampi/Controllers/WriterPanelController.cs